= form_for @health_profile do |f|
  - if @health_profile.errors.any?
    #error_explanation
      %h2= "#{pluralize(@health_profile.errors.count, "error")} prohibited this health_profile from being saved:"
      %ul
        - @health_profile.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :birthday
    = f.date_select :birthday
  .field
    = f.label :weight
    = f.text_field :weight
  .field
    = f.label :gender
    = f.text_field :gender
  .field
    = f.label :illness
    = f.text_field :illness
  .field
    = f.label :user
    = f.text_field :user
  .actions
    = f.submit 'Save'
