%h1 Listing health_profiles

%table
  %thead
    %tr
      %th Birthday
      %th Weight
      %th Gender
      %th Illness
      %th User
      %th
      %th
      %th

  %tbody
    - @health_profiles.each do |health_profile|
      %tr
        %td= health_profile.birthday
        %td= health_profile.weight
        %td= health_profile.gender
        %td= health_profile.illness
        %td= health_profile.user
        %td= link_to 'Show', health_profile
        %td= link_to 'Edit', edit_health_profile_path(health_profile)
        %td= link_to 'Destroy', health_profile, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Health profile', new_health_profile_path
